/* message css */

.messages-box{
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #eee;
}
.message {
  padding: 8px 10px;
  margin-bottom: 5px;
  background-color: #e1ffc7;
  border-radius: 5px;
  max-width: 70%;
}

/* chat-header css */

.chatbox-header{
    display: flex;
    justify-content: space-between;
    padding:  12px 20px;
    background: #f0f2f5;
    height: 50px;
}
.chatbox-header .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .chatbox-header .user-info img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }
  .chatbox-header .user-info .name {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }
.chatbox-header .applications{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 10px;

}
.chatbox-header .applications i{
    font-size: 20px;
}

/* message box css */

.message-box{
  height: calc(80vh - 20px);
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  background-size: 50%;
  overflow-y: scroll;
  padding: 10px 30px 10px 30px;
}
.message-box::-webkit-scrollbar {
  width: 8px;

}

.message-box::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
}

.message-box::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}


.message-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 
message footer css */

.message-footer{
  width:calc(68% - 30px);
  min-height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
  padding: 5px 15px 10px 15px ;
  background-color: #f0f2f5;
  position: fixed;
  bottom: 10px;
}
.attachment{
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: black; 
  cursor: pointer;
  position: relative;
}
.bi-plus{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;
  transition: 0.2s ease-in;
}
.attachment .hover{
  rotate: 135deg;
  background: #a3a5a8;
}

.attachment .attachment-items{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: -280px; 
  z-index: 100;
  width: 170px;
  background: white;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.05), -4px -4px 1px rgba(0, 0, 0, 0.05);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  border-radius: 15px;
}

.attachment .attachment-items p{
  text-align: left;
  height: 30px;
  padding: 6px;
  border-radius: 10px;
}
.attachment .attachment-items p:hover{
  background: #f0f2f5;
}
.attachment .attachment-items p i{
  font-size: 20px;
}
.attachment i{
  font-size: 40px;
}
.message-input-box{
  min-height: 35px;
  width: 90%;
  display: flex;
  text-align: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 5px 15px;
}
.message-input-box i{
  font-size: 20px;
  width: 50px;
}
.message-input-box textarea{
  flex: 1;
  resize: none;
  padding: 10px;
  max-height: 140px; /* Adjust max-height */
  overflow-y: auto;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
}
.audio-message i{
  font-size: 23px;
  color: black;
}